<a href="https://colab.research.google.com/github/Praneeth7890/Praneeth7890/blob/main/python_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# average of two numbers

In [ ]:
a=29
b=58
c=38
average = (a+b+c)/3
print(average)

41.666666666666664

# multiplication of three numbers

In [ ]:
a=15
b=46
c=37
mul=a*b*c
print(mul)

25530

# dynamic addition of 2 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
addition=(a+b)
print(addition)
print(type(addition))

enter a number47
enter a number32
79
<class 'int'>

# dynamic of 3 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
multi=(a*b*c)
print(multi)
print(type(multi))

enter a number20
enter a number37
enter a number28
20720
<class 'int'>

# type conversions


## 1.int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
10.0

## 2.float to int

In [ ]:
a=10
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'int'>
<class 'int'>
10

## 3.int to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
10

## 4.float to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
10

## 5.string to int

In [ ]:
a=10
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'int'>
<class 'int'>
10

# Boolean

In [ ]:
a=34
b=45
c=a<b
print(bool(c))

True

## Boolean to int

In [ ]:
a=10
print(type(a))
b=bool(a)
print(type(b))
print(b)

<class 'int'>
<class 'bool'>
True

# boolean to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))

<class 'int'>
<class 'str'>

# complex

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print (type(c))

<class 'complex'>
<class 'str'>

# if

In [ ]:
a=20
if a>=18:
    print("eligible for voting")
else:
    print("not eligible for voting")

eligible for voting

In [ ]:
a=6
if a>=18:
    print("eligible for voting")
else:
    print("not eligible for voting")

not eligible for voting

# find the greatest of three numbers

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
num3=float(input("enter third number:"))
if (num1>num2) and (num1>num3):
     largest=num1
elif (num2>num1) and (num2>num3):
     largest=num2
else:
     largest=num3
print("the largest numbers is:",largest)

enter first number:15
enter second number:12
enter third number:09
the largest numbers is: 15.0

# print even num from 1 to 100

In [ ]:
for i in range(1,100,2):
    print(i+1)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# loops

## while loop

In [ ]:
n=int(input("enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+1
    i=i+1
print("the sum is:",sum)

enter n:5
the sum is: 5

# leap year

In [ ]:
year = 2022
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2022 is not a leap year

# triangle

In [ ]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
if a==b and b==c:
    print("it is a isosceles triangle")
elif a==b or b==c or c==a:
    print("it is a equilateral triangle")
else:
    print("it is a scalar")

enter a:4
enter b:5
enter c:5
it is a equilateral triangle

# min among 3

In [ ]:
a=int(input("enter a"))
b=int(input("enter b:"))
c=int(input("enter c:"))
smallest=0

if a < b and a < c :
    smallest = a
if b < a and b < c :
    smallest = b
if c < a and c < b :
    smallest = c

print(smallest, "is the smallest of three numbers.")

enter a56
enter b:56