<a href="https://colab.research.google.com/github/Praneeth7890/Praneeth7890/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tuple

In [ ]:
x=("praneeth","sai krishna","seshu")
print(x)

('praneeth', 'sai krishna', 'seshu')

In [ ]:
#duplicate value allows
x=("praneeth","sai krishna","praneeth","ashok")
print(x)

('praneeth', 'sai krishna', 'praneeth', 'ashok')

In [ ]:
#tuple length
x=("praneeth","saikrishna","ashok")
print(len(x))

3

In [ ]:
#type of tuple
x=("praneeth",)
print(type(x))

x=("praneeth")
print(type(x))

<class 'tuple'>
<class 'str'>

In [ ]:
#data types
x = ("praneeth", "seshu", "sai krishna")
y = (1, 5, 7, 9, 3)
z = (True, False, False)

print(x)
print(y)
print(z)

('praneeth', 'seshu', 'sai krishna')
(1, 5, 7, 9, 3)
(True, False, False)

In [1]:
x=("praneeth","19","male")
print(x)

('praneeth', '19', 'male')

In [7]:
#acess tuple items
x=("praneeth","rahul","yaswanth")
print(x[1])

rahul

In [8]:
# negative indexing
x=("praneeth","rahul","yaswanth")
print(x[-2])

rahul

In [10]:
#range of indexes
x=("praneeth","yaswanth","rahul","manish","bhanu","mohith")
print(x[1:4])

('yaswanth', 'rahul', 'manish')

In [12]:
x=("praneeth","yaswanth","rahul","manish","bhanu","mohith")
print(x[:4])

('praneeth', 'yaswanth', 'rahul', 'manish')

In [14]:
x=("praneeth","yaswanth","rahul","manish","bhanu","mohith")
print(x[-4:-1])

('rahul', 'manish', 'bhanu')

In [16]:
#check if item exists
x=("rrr","kgf","beast","ghani","akhanda")
if "rrr" in x:
  print("yes,'rrr'movie has been realeased")

yes,'rrr'movie has been realeased

In [18]:
#change tuple values
x=("praneeth","rahul","yaswanth","manish")
y=list(x)
y[2]="bhanu"
x=tuple(y)

print(x)

('praneeth', 'rahul', 'bhanu', 'manish')

In [20]:
#add item in tuple
x=("praneeth","yaswanth","manish","bhanu")
y=list(x)
y.append("rahul")
x=tuple(y)

print(x)

('praneeth', 'yaswanth', 'manish', 'bhanu', 'rahul')

In [22]:
#add tuples to tuple
x=("praneeth","rahul","yaswanth")
y=("manish",)
x+=y

print(x)

('praneeth', 'rahul', 'yaswanth', 'manish')

In [24]:
#removing a tuple
x=("praneeth","yaswanth","rahul","manish")
y=list(x)
y.remove("praneeth")
x=tuple(y)

print(x)

('yaswanth', 'rahul', 'manish')

In [26]:
#unpacking a tuple
x=("praneeth","sai krihna","vivek")
(topper,wastefellow,handsome)=x

print(topper)
print(wastefellow)
print(handsome)

praneeth
sai krihna
vivek

In [28]:
#Using Asterisk
x=("praneeth","manish","bhanu","yaswanth","rahul")
(white,black,*brown)=x

print(white)
print(black)
print(brown)

praneeth
manish
['bhanu', 'yaswanth', 'rahul']

In [35]:
#loop through a tuple
x=("praneeth","manish","bhanu","yaswanth","rahul")
for x in x:
  print(x)

praneeth
manish
bhanu
yaswanth
rahul

In [37]:
#Loop Through the Index Numbers
x=("praneeth","manish","bhanu","yaswanth","rahul")
for i in range(len(x)):

  print(x[i])

praneeth
manish
bhanu
yaswanth
rahul